h1 {
  font-size: 40px;
  padding: 100px;

  animation: fly-in-left;
  animation-duration: 1s;
}
p {
  animation: fly-in-left;
  animation-duration: 1s;
}

@keyframes fly-in-left {
  0% {
    transform: translateX(-500px) scale(0);
  }
  100% {
    transform: translateX(0px) scale(1);
  }
}
