#red-welcome {
  color: red;
  background-color: blue;
  font-size: 10px;
}
#yellow-welcome {
  color: rgb(255, 255, 0);
}
#blue-welcome {
  color: blue;
}

.headings {
  text-decoration: underline;
}

#text-div {
  text-align: center;
  color: red;
  background-color: blue;
}

h4 {
  font-size: 20px;
}
