#red-welcome {
  color: red;
  background-color: blue;
  font-size: 10px;
}
#yellow-welcome {
  color: rgb(255, 255, 0);
}
#blue-welcome {
  color: blue;
}

.headings {
  text-decoration: underline;
}

#text-div {
  text-align: center;
  color: red;
  background-color: blue;
}

h4 {
  font-size: 20px;
}


#header-image {
  width: 300px;
  border-radius: 30%;
}

#our-link {
  text-decoration:none;
  color: red;
}

#our-link:visited {
  color: green;
}

#our-link:hover {
  color: yellow;
}

#our-link:active {
  color: purple;
}

#our-ol {
  list-style-type:none;
}

#our-ul {
  list-style-type:decimal;
}
